{% extends 'base.html' %}

{% block body %}
    {% load crispy_forms_tags %}

    <form method="post">
        {% csrf_token %}    
        <div class="col-7 align-self-center">
            <h1 class="page-title text-truncate text-dark font-weight-medium mb-1">Register yourself first  &nbsp;!</h1><br>
            <div class="d-flex align-items-center">
                <nav aria-label="breadcrumb">
                    <div class="row">
                        <div class="col-lg-12">                                            
                            <div class="form-group">
                                {{form.username|as_crispy_field}}
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <div class="form-group">
                                {{form.email|as_crispy_field}}
                            </div>
                        </div>
                        
                        <div class="col-lg-12">
                            <div class="form-group">
                                {{form.password1|as_crispy_field}}
                            </div>
                        </div>

                        <div class="col-lg-12">
                            <div class="form-group">
                                {{form.password2|as_crispy_field}}
                            </div>
                        </div>
                        <div class="col-lg-12 text-center">
                            <input type="submit" class="btn btn-block btn-dark">
                        </div>
                        <div class="col-lg-12 text-center mt-5">
                            Already have an account? <a href="{% url 'login' %}" class="text-danger">Sign In</a>
                        </div>
                    </div>
                </nav>
            </div>
        </div>                        
    </form>

{% endblock %}
